src/main/mule/sample_project_cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="530b0104-e5d2-4470-85fa-4951e718d8a8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample_project_cicdFlow" doc:id="c9794c2d-95a3-49bb-affa-9ff40f1d3b93" >
		<http:listener doc:name="Listener" doc:id="569d885f-89c5-418e-b32c-7b43364e670f" config-ref="HTTP_Listener_config" path="/cicdtest"/>
		<set-payload value='#["Message Success"]' doc:name="Set Payload" doc:id="82ba429e-c6e1-4438-afcd-318d79a5e303" />
	</flow>
</mule>
